
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.cartaz-filme {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cartaz-filme img {
    border-radius: 5px;
}

.ativa {
    color: yellow
}
.catalogo-filme {
    display: grid;
    gap: 20px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}